@use "../../../Sass/Variable.scss" as v;

div.taskCreation{
    
    padding-left: 1rem;
    padding-right: 1rem;
    animation: taskCreation_SlideRight 0.1s linear forwards;
    max-width: 50%;
    width: fit-content;
    outline: 1px solid v.$taskOutline;
    box-shadow: 2px 2px 2px 1px black;
    text-shadow: 1px 1px 1px black;
    background-color: v.$taskBackground;

    div.taskName{
        // outline: 1px solid green; //
        padding: 0.5rem;
        background:none;
        border: none;
        font-size: 1.3rem;
        color: white;

        &:focus{
            outline: none;
        }
    }
}