

    div.addProperty_Box{
        // background-color: blue; //
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    div.listProperty_Box{
        // background-color: green; //
        display: flex;
        margin: 0.5rem;
    }
