@use "../../../Sass/Variable.scss" as v;

// div.propertieBox{
//     display: flex;
//     justify-content: space-between;
//     // align-items: center;

//     span.propertie{
//         // outline: 1px solid white; //
//         text-align: center;
//         font-size: 1.3rem;
//         padding: 0.2rem;
//         width: fit-content;
//     }
//     span.value{
//         outline: 1px solid white; //
//         width: 60%;
//         max-width: 60%;
//         font-size: 1.2rem;
//         display: flex;
//         height: fit-content;
//         padding: 0.2rem;
//         background-color: v.$ItemBackground;
//         color: black;

//     }

// }


div.propertieBox{
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: 1fr;
    // display: flex;
    // justify-content: space-between;
    // align-items: center;

    span.propertie{
        // outline: 1px solid white; //
        text-align: center;
        font-size: 1.3rem;
        padding: 0.2rem;
        width: fit-content;
    }
    span.value{
        outline: 1px solid white; //
        margin-left: 2rem;
        font-size: 1.2rem;
        display: flex;
        height: fit-content;
        padding: 0.2rem;
        background-color: v.$ItemBackground;
        color: black;

    }

}