@use "../../../Sass/Variable.scss" as v;

li.folderButton_Box{
    list-style: none;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    // background-color: red; //

    button{
        outline: 1px solid v.$blue; //
        // background-color: transparent;

        background-color: v.$buttonBackgroundBlue;
        border-radius: 5px;

        width: fit-content;
        font-size: 1.3rem;
        color: v.$buttonTextColorBlue;
        border: none;
        padding: 4%;
        opacity: 1;
        transition: all 0.05s linear;

        &:hover{
            cursor: pointer;
            background-color: v.$buttonBackgroundBlueHover;
        }
    }

    button.folderSelected{
        background-color: v.$buttonBackgroundBlueHover;
    }

    // i{
    //     color: white;
    //     font-size: 0.8rem;
    //     transition: opacity 0.05s linear;
    //     opacity: 0.7;
    //     &:hover{
    //         cursor: pointer;
    //         opacity: 1;
    //     }
    // }
    
}