@use "../../../Sass/Variable.scss" as v;

div.folderIndicator_Box{
    position: absolute;
    left: 0;
    // outline: 1px solid white; //
    color: white;
    font-size: 2rem;
    margin-left: 2vw;
    display: flex;
    gap: 1rem;
    align-items: center;
    width: fit-content;

    input{
        outline: 1px solid red; //
        font-size: 1.5rem;
        padding: 3%;
        background-color: v.$ItemBackground;
        border: none;
        outline: 2px solid black;
        border-radius: 10px;
        padding-left: 0.5rem;
        color: black;
        text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.199);
    }
    input.inputDisabled{
        outline: 3px solid black;
        caret-color: black;
    }

    i.deleteFolder{
        opacity: 0.6;
        color: v.$redButton;
        font-size: 1.5rem;
        transition: opacity 0.1s linear;

        &:hover{
            cursor: pointer;
            opacity: 1;
        }
    }

    i.lockFolder{
        opacity: 0.6;
        color: white;
        font-size: 1.2rem;
        transition: opacity 0.1s linear;

        &:hover{
            cursor: pointer;
            opacity: 1;
        }
    }

    i.unlockFolder{
        opacity: 1;
        color: white;
        font-size: 1.2rem;

        &:hover{
            cursor: pointer;
        }
    }

    
    
}