div.propertiesSave_Box{
    pointer-events: none;
    // background-color: green; //
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 1.8rem;
    color: white;
    opacity: 0.2;
    transition: opacity 0.15s linear;
    

    &.active{
        opacity: 0.8;
        pointer-events: all;
        &:hover{
            cursor: pointer;
            opacity: 1;
        }
    }
}