@keyframes taskCreation_SlideRight{
    from{transform: translateX(0);}
    to{transform: translateX(1rem);}
}

@keyframes taskToggleFinish{
    from{width: 0%;}
    to{width: 100%;}
}

@keyframes taskToggleFinishReturn{
    from{width: 100%;}
    to{width: 0%;}
}

@keyframes errorConnectionAppear{
    from{
        transform: translate(-50%, -100%);
        opacity: 0;
    }
    to{
        transform: translate(-50%, 50%);
        opacity: 1;
    }
}

@keyframes errorConnectionDisappear{
    from{opacity: 1;}
    to{opacity: 0; display: none;}
}

@keyframes pannelApparition{
    from{transform: translateX(-100%);}
    to{transform: translateX(0%);}
}

@keyframes pannelDisparition{
    from{transform: translateX(0%);}
    to{transform: translateX(-100%);}
}

@keyframes opacityIn{
    from{opacity: 0;}
    to{opacity: 1;}
}
@keyframes opacityOut{
    from{opacity: 1;}
    to{opacity: 0;}
}







@keyframes formOpacityIn{
    from{opacity: 0.2;}
    to{opacity: 1;}
}
@keyframes formOpacityOut{
    from{opacity: 1;}
    to{opacity: 0.2;}
}
form.formOpacityIn{
    animation: formOpacityIn 0.2s linear forwards;
}
form.formOpacityOut{
    animation: formOpacityOut 0.2s linear forwards;
}




@keyframes underlineSignIn_In{
    from{right:-110%}
    to{right: 0%}
}
@keyframes underlineSignIn_Out{
    from{right:0%}
    to{right: -110%}
}
span.underlineIn_signIn{
    animation: underlineSignIn_In 0.2s ease forwards;
}
span.underlineOut_signIn{
    animation: underlineSignIn_Out 0.2s ease forwards;
}


@keyframes underlineSignUp_In{
    from{left:-110%}
    to{left: 0%}
}
@keyframes underlineSignUp_Out{
    from{left:0%}
    to{left: -110%}
}
span.underlineIn_signUp{
    animation: underlineSignUp_In 0.2s ease forwards;
}
span.underlineOut_signUp{
    animation: underlineSignUp_Out 0.2s ease forwards;
}