

div.app{
    // background-color: red;//
    // background-color: rgb(62, 62, 62);
    background-image: url("../Assets/mountain.avif");
    background-size: cover;
    background-position:top;
    overflow: hidden;
    display: grid;
    grid-template-columns: minmax(15rem, 15vw) 1fr;
    grid-template-rows: 100vh;
    position: relative;
    z-index: 0;

    &::after{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.326);
        z-index: -1;
    }

    // *{
    //     z-index: 1;
    // }
}