$blue: rgb(163, 255, 253);
$orange: rgb(255, 219, 141);
$taskFinish: rgb(163, 255, 253);

$blueConnection:rgb(167, 252, 247);



// // Popup color:
// $popup_neutral:rgb(205, 205, 205);
// $popup_good:rgb(115, 179, 115)