$blue: rgb(163, 255, 253);
$orange: rgb(255, 219, 141);
$taskFinish: rgb(163, 255, 253);

$blueConnection:rgb(167, 252, 247);


$buttonBackgroundBlue:rgba(167, 252, 246, 0.031);
$buttonBackgroundBlueHover:rgba(167, 252, 246, 0.13);
$buttonTextColorBlue:rgb(176, 255, 254);

$folderButtonTextColor:rgb(176, 255, 254);



// // Popup color:
// $popup_neutral:rgb(205, 205, 205);
// $popup_good:rgb(115, 179, 115)