div.taskCreation{
    background-color: rgba(229, 10, 10, 0.994);
    box-shadow: 0px 0px 10px black inset;
    padding-left: 1rem;
    padding-right: 1rem;
    animation: taskCreation_SlideRight 0.1s linear forwards;
    max-width: 50%;
    width: fit-content;
    div.taskName{
        // outline: 1px solid green; //
        padding: 0.5rem;
        background:none;
        border: none;
        font-size: 1.3rem;
        color: white;

        &:focus{
            outline: none;
        }
    }
}