@use "../../../../Sass/Variable.scss" as v;

div.propertyList_Box{
    // background-color: rgba(255, 255, 255, 0.367); //
    height: 95%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}