div.addButtonFolder_Display{
    // background-color: rgba(255, 255, 0, 0.654); //
    display: flex;
    justify-content: center;
    align-items: center;

    div.addButtonFolder_Box{
        width: 80%;
        height: 50%;
        // outline: 1px solid white; //
        display: flex;
        align-items: center;
        justify-content: center;

        button.addButtonFolder{
            // outline: 1px solid white; //
            padding: 2%;
            border: none;
            background-color: transparent;
            display: flex;
            gap: 0.5rem;
            font-size: 1.2rem;

            i{
                opacity: 0.7;
                color: rgb(0, 182, 227);
                transition: opacity 0.15s linear;
            }

            &:hover i{
                opacity: 1;
            }

            span{
                color: white;
            }

            &:hover span{
                cursor: pointer;
                text-decoration: underline;
            }

            
        }
    }
}