@use "../../../../Sass/Variable.scss" as v;

div.itemCollectionList_Display{
    outline: 2px solid black;
    background: v.$listDetailBackground;
    // background-color: green; //
    width: 100%;
    transition: all 0.2s linear;
    height: fit-content;
    z-index: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    overflow-y: scroll;
    overflow-x: hidden;

    &::-webkit-scrollbar{
        background-color: rgba(168, 168, 168, 0);
        width: 10px;
    }

    &::-webkit-scrollbar-thumb{
        background-color: darken(white, 30%);
        opacity: 0.5;
        border-radius: 10px;
        &:hover{
            background-color: darken(white, 20%);
        }
    }

    &.visible{
        opacity: 1;
        max-height: 30rem;
    }
    &.hidden{
        opacity: 0;
        max-height: 0rem;
    }

    div.itemCollectionList_Box{
        // background-color: rgba(255, 0, 0, 0.242); //
        width: 98%;
        max-width: 98%;
        // height: 30rem;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 2rem;
        margin-left: 1rem;
        padding-top: 2rem;
    }
}

