@use "../../../Sass/Variable.scss" as v;

div.addTask_Box{
    display: flex;
    align-items: center;
    // outline: 1px solid white; //
    opacity: 0.7;
    gap: 0.7rem;
    transition: opacity 0.15s linear;

    &:hover{
        cursor: pointer;
        opacity: 1;
    }

    i{
        font-size: 2rem;
        color: v.$blue;
    }

    span{
        font-size: 1.3rem;
        color: white;
    }
}