@use "../../../../Sass/Variable.scss" as v;

div.taskCreation{
    
    padding-left: 1rem;
    padding-right: 1rem;
    animation: taskCreation_SlideRight 0.1s linear forwards;
    max-width: 50%;
    width: fit-content;
    outline: 1px solid v.$blue;
    box-shadow: 0px 0px 10px black inset,
                0px 0px 10px v.$blue !important;
    background-color: rgb(32, 32, 32);

    div.taskName{
        // outline: 1px solid green; //
        padding: 0.5rem;
        background:none;
        border: none;
        font-size: 1.3rem;
        color: white;

        &:focus{
            outline: none;
        }
    }
}