@use "../../../../Sass/Variable.scss" as v;


.oneProperty_Creation{
    padding: 0.2rem;
    border: 2px solid black;
    width: fit-content;
    padding-right: 1rem;
    padding-left: 1rem;
    border-radius: 5px;
    font-size: 1.5rem;
    background-color: v.$propertyCreationBackgroundValue;

    &:focus{outline: none;}
}