@use "../../../../Sass/Variable.scss" as v;

div.listTask_Display{
    // background-color: rgba(238, 130, 238, 0.254); //

    display: flex;
    justify-content: center;
    align-items: center;

    ::-webkit-scrollbar{
        background-color: rgba(168, 168, 168, 0);
        width: 10px;
    }

    ::-webkit-scrollbar-thumb{
        background-color: darken(white, 30%);
        opacity: 0.5;
        border-radius: 10px;

        &:hover{
            background-color: darken(white, 20%);
        }
    }
    

    div.listTask_Box{
        padding: 0.5rem;
        // outline: 1px solid white; //
        width: 95%;
        height: 95%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        overflow-y: auto;

        

        


        div.noTask_Box{
            // background-color: red; //
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            span{
                color: rgba(255, 255, 255, 0.312);
                font-size: 1.7rem;
            }
        }
    }
}