@use "../../../../Sass/Variable.scss" as v;

div.addButtonFolder_Display{
    // background-color: rgba(255, 255, 0, 0.654); //
    display: flex;
    justify-content: center;
    align-items: center;

    div.addButtonFolder_Box{
        width: 80%;
        height: 50%;
        // outline: 1px solid white; //
        display: flex;
        align-items: center;
        justify-content: center;

        button.addButtonFolder{
            // outline: 1px solid white; //
            padding: 2%;
            border: none;
            background-color: transparent;
            display: flex;
            gap: 0.5rem;
            font-size: 1.8rem;
            opacity: 0.7;
            transition: opacity 0.15s linear;

            &:hover{
                opacity: 1;
                        cursor: pointer;
            }

            i{color: v.$blue;}
            span{color: white;}

            
        }
    }
}