@use "../../../../Sass/Variable.scss" as v;

div.ItemCreation{
    width: 90%;
    outline: 1px solid black;
    text-shadow: 1px 1px 1px black;
    background-color: v.$ItemBackgroundCreation;
    border-radius: 5px;
    margin: 0.5rem;

    div.ItemName{
        // outline: 1px solid green; //
        padding: 0.5rem;
        // background:red; //
        border: none;
        font-size: 1.3rem;
        color: black;
        text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.207);
        text-align: center;

        &:focus{
            outline: none;
        }
    }
}