.renderDisplay{
    // background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    i.logo{
        position: absolute;
        color: rgb(195, 195, 195);
        font-size: 3vw;
        // opacity: 0;
        // animation: opacityIn 0.2s linear forwards;
    }

    // i.logo.apparition{
    //     animation: opacityIn 0.2s linear forwards;
    // }

    // i.logo.disparition{
    //     animation: opacityOut 0.2s linear forwards;
    // }
}

.renderDisplay.apparition{
    animation: opacityIn 0.2s linear forwards;
}

.renderDisplay.disparition{
    animation: opacityOut 0.2s linear forwards;
}