.renderDisplay{
    
    display: flex;
    justify-content: center;
    align-items: center;

    i.logo{
        position: absolute;
        color: rgb(195, 195, 195);
        font-size: 3vw;
        opacity: 0;
        animation: opacityIn 0.2s linear forwards;
    }
}